<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="../Style/style.css">
    <meta charset="UTF-8">
    <title>Field</title>
</head>
<body>
<form th:object="${level}" method="post">
    <h2>Choose level</h2>
    <select th:field="*{difficulty}">
        <option value="LOW" >Level 1</option>
        <option value="MEDIUM" selected>Level 2</option>
        <option value="HIGH">Level 3</option>
    </select>
    <button type="submit"> Start </button>
</form>

</body>
</html>